---
import ExternalLink from "@components/ExternalLink.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_CONFIG } from "@src/site-config";
---

<BaseLayout title='Contact'>
  <div class='mb-8 text-sm leading-relaxed'>
    <p>
      Hello World! I'm Nipun Agarwal, a passionate and forward-thinking Computer
      Science enthusiast hailing from the vibrant city of Hyderabad, India. With
      the completion of my Bachelor's degree in Computer Science in September
      2024, I've been on an exhilarating journey of transforming ideas into
      impactful solutions.
    </p>
    <p class='mt-4'>
      My heart lies in crafting innovative solutions that address real-world
      problems. Whether it's empowering MSMEs with a robust digital presence or
      helping startups connect with their target audience, I thrive on building
      solutions that make a difference.
    </p>
    <p class='mt-4'>
      Collaborating with like-minded individuals is where I find my stride. I
      have a genuine passion for organizing events that foster community
      engagement and innovation. My journey has been marked by a deliberate
      choice to prioritize hands-on experiences and real-world challenges over
      the confines of traditional academic pursuits.
    </p>
  </div>
  <ul class='flex flex-col gap-5'>
    {
      SITE_CONFIG.contact.map((contact) => (
        <li>
          <ExternalLink url={contact.url}>{contact.name}</ExternalLink>
        </li>
      ))
    }
  </ul>
</BaseLayout>
